.cart {
  min-height: 90vh;
  .empty__link {
    display: block;
    color: #79cbee;
    text-decoration: none;
  }
  .checkout__button {
    background-color: #65bce2;
    &:hover {
      background-color: #54a8cd;
    }
  }
}